{{ template "head" . }} {{ template "nav" . }}
<main id="about">
  <article class="flow width-63ch">
    <h1>About</h1>
    <p>
      <span class="lieu">Mold Net</span>—a search engine based on the metaphor
      of fungi. Here, folks can curate a spores file, essentially allowing them
      to create a micro search index of the sites that they find interesting. We
      then stitch together those indexes to create a network of hyphae.
    </p>
    <p>
      This instance indexes
      <a href="{{ .Data.RingLink }}">{{ .Data.WebringName }}</a>—{{
      .Data.DomainCount }} domains, {{ .Data.PageCount }} pages, {{
      .Data.TermCount }} search terms. {{ if ne .Data.LastCrawl "" }} Index
      updated {{ .Data.LastCrawl }}. {{ end }} Some domains of the webring have
      been filtered out for a better search experience, see
      <a href="{{ .Data.FilteredLink }}">the filtered list</a>. Visit a
      <a href="/random">random page</a>.
    </p>
    <p>
      <span class="lieu">The mold net is a fork of Lieu, which </span> was
      created by <a href="https://cblgh.org/support.html">cblgh</a> at the onset
      of 2021.
    </p>
    <p>
      For The Mold Net's AGPL licensed source code,
      <a href="https://github.com/s0rta/mycil-network">the repository</a>.
    </p>
  </article>
</main>
{{ template "footer" . }}
